<h1>新規登録</h1>

<% if @user.errors.any? %>
  <div>
    <p>入力に問題があります。</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, url: signup_path do |f| %>
  <div>
    <%= f.label :username, "ユーザー名" %><br>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "パスワード（確認）" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "登録する" %>
  </div>
<% end %>

<p><%= link_to "ログインへ戻る", login_path %></p>
